header#header {
	z-index: 1000;
	transition: all 0.1s ease;
	background-color: rgba(255, 255, 247, .7);
	.logo {
		display: block;
		img {
			max-width: 595px;
			@media only screen and (max-width: $xl-deck) {
				max-width: 440px;
			}
			@media only screen and (max-width: $s-deck) {
				max-width: 340px;
			}
		}
	}
	.holderButton {
		flex-grow: 2;
		display: flex;
		justify-content: flex-end;
	}
	.headerMain {
		height: 100%;
		background-color: $bg-color;
		.container {
			display: flex;
			justify-content: space-between;
			align-items: center;
			height: 240px;
			@media only screen and (max-width: $xl-deck) {
				height: 190px;
			}
			@media only screen and (max-width: $l-deck) {
				height: 150px;
			}
			@media only screen and (max-width: $s-deck) {
				height: 120px;
			}
			@media only screen and (max-width: $land-tablet) {
				height: 220px;
				flex-wrap: wrap;
				padding-bottom: 20px;
				> * {
					flex: 0 0 50%;
				}
				#hamburger {
					flex-basis: 97px;
				}
				.holderButton {
					flex-basis: calc(100% - 97px);
					display: flex;
					justify-content: center;
					 padding: 0 20%;
					.btn {
						max-width: 100%;
					}
				}
			}
		}
	}
}
#mainMenu {
	margin-bottom: 10px;
	@media only screen and (max-width: $l-deck) {
		margin-bottom: 5px;
	}
	@media only screen and (max-width: $land-tablet) {
		display: none;
		margin: 0;
		padding: 30px 0;
		background-color: $white-color;
		max-width: 100%;
		border-top: 1px solid #FFD40E;
	}
	ul {
		display: flex;
		flex-direction: row;
		justify-content: flex-end;
		gap: 40px;
		flex-wrap: wrap;
		@media only screen and (max-width: $l-deck) {
			gap: 20px;
		}
		@media only screen and (max-width: $land-tablet) {
			display: block;
		}
		li {
			@media only screen and (max-width: $land-tablet) {
				display: block;
			}
			a {
				position: relative;
				display: inline-block;
				@media only screen and (max-width: $land-tablet) {
					display: block;
					padding: 30px 60px;
				}
				&::before {
					content: '';
					width: 0;
					height: 1px;
					background-color: $navy-color;
					position: absolute;
					bottom: 0;
					left: 50%;
					transform: translateX(-50%);
					transition: all .3s ease;
				}
				&:hover {
					@media only screen and (max-width: $land-tablet) {
						background: rgb(255 212 14 / 0.1);
					}
					&::before {
						width: 100%;
						@media only screen and (max-width: $land-tablet) {
							width: 0;
						}
					}
				}
			}
		}
		li + li a {
			&::after {
				content: '';
				display: block;
				position: absolute;
				left: -20px;
				top: 50%;
				width: 1px;
				height: 28px;
				background-color: $navy-color;
				transform: translateY(-50%);
				@media only screen and (max-width: $l-deck) {
					left: -10px;
					height: 22px;
				}
				@media only screen and (max-width: $land-tablet) {
					display: none;
				}
			}
		}
	}
	a {
		font-family: 'MontserratAlternates-SemiBold';
		@include font(28, 28);
		@media only screen and (max-width: $l-deck) {
			@include font(22, 24);
		}
		@media only screen and (max-width: $s-deck) {
			@include font(18, 24);
		}
		@media only screen and (max-width: $land-tablet) {
			@include font(40, 40);
		}
	}
}
#mainMenu.open + .overlight {
	display: block;
	z-index: -2;
}
.overlight {
    background-color: rgba(0,0,0,.7);
    display: none;
    height: 100vh;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}
// .header {
//     nav#mainMenu {
//         height: 100%;
//         @media only screen and (max-width: 768px) {
//           position: fixed;
//           left: 0;
//           top: 0;
//           overflow: hidden;
//           width: 100%;
//           transition: all 0.4s ease-in-out;
//           transform: translateY(-100%);
//           z-index: -1;
//           padding-top: 80px;
//           display: block;
//           height: auto;
//           background-color: transparent;
//           &.open {
//             transform: translateY(0);
//              + .overlight {
//               display: block;
//               z-index: -2;
//              }
//           }
//         }
//         ul {
//             display: flex;
//             justify-content: flex-end;
//             gap: 32px;
//             height: 100%;
//             @media only screen and (max-width: 768px) {
//               display: block;
//               background-color: $main-color;
//               padding: 30px 0;
//             }
//             li {
//                 display: flex;
//                 align-items: center;
//                 height: 100%;
//                 @media only screen and (max-width: 768px) { 
//                   display: block;
//                   border-top: 1px solid rgba(93, 95, 109, 0.5);
//                   &:first-child {
//                     border: 0;
//                   }
//                 }
//                 &:has(a:hover, a.active) {
//                   border-top: 3px solid $orange-color; 
//                   @media only screen and (max-width: 768px) { 
//                     border-top: 1px solid rgba(93, 95, 109, 0.5);
//                   }
//                 }
//             }
//             a {
//                 color: $font-color;
//                 display: inline-block;
//                 @media only screen and (max-width: 768px) { 
//                   margin: 20px 30px;
//                 }
//                 &:hover, &.active {
//                     color: $white-color;
//                     margin-top: -3px;
//                   @media only screen and (max-width: 768px) { 
//                     border-bottom: 3px solid $orange-color; 
//                     margin-top: 20px;                    
//                   }
//                 }
//             }
//         }
//     }
// }
/*--mobile menu--*/
.hamburger {
  display: none;
  float: right;
  &:hover {
	.hamburger-inner, 
	.hamburger-inner::before, 
	.hamburger-inner::after {
		background-color: #FFD40E; 
	}
  }
  @media only screen and (max-width: $land-tablet) {
    display: block;
  }
}
.overlight {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1000;
}
    