//campaign home page
.campaign {
    position: relative;
    height: 100vh;
    overflow: hidden;
    @media only screen and (max-width: $tablet) { 
        height: auto;
    }
    .bg-image-holder {
        height: 100%;
    }
    .text-holder {
        position: absolute;
        width: 100%;
        bottom: 0;
        left: 0;
        background: linear-gradient(to top, rgba(255, 255, 255, .9) 8%, rgba(255, 255, 255, 0) 100%);
        @media only screen and (max-width: $tablet) { 
            background: linear-gradient(to top, rgba(255, 255, 255, .9) 8%, rgba(255, 255, 255, .3) 80%, rgba(255, 255, 255, 0) 100%);
        }
        h1 {
            text-align: right;
            margin-bottom: 38px;
            padding-right: 60px;
            @media only screen and (max-width: $m-deck) {
                margin-bottom: 25px;
            }
            @media only screen and (max-width: $tablet) {
                padding: 0;
                margin-bottom: 5px;
                text-align: center;
            }
        }
    }
}
.rightLogo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    .smallLogo {
            max-width: 540px;
            width: 100%;
            margin: 30px 15px -30px 0;
            @media only screen and (max-width: $xl-deck) {
                max-width: 440px;
            }
            @media only screen and (max-width: $l-deck) {
                max-width: 390px;
                margin: 20px 0 -20px 0;
            }
            @media only screen and (max-width: $l-deck) {
                max-width: 340px;
                margin: 5px 0 -5px 0;
            }
            @media only screen and (max-width: $tablet) {
                max-width: max-content;
                margin: 0;
            }
    }
    .h2 {
        @media only screen and (max-width: $tablet) { 
            margin: 10px 0;
        }
    }
}
.summerText {
    @include font(40, 50);
    font-family: 'MontserratAlternates-SemiBold';
    max-width: 75%;
    margin-bottom: 55px;
    @media only screen and (max-width: $xl-deck) {
        @include font(30, 50);
        margin-bottom: 30px;
    }
    @media only screen and (max-width: $l-deck) {
        @include font(26, 36);
        margin-bottom: 30px;
    }
    @media only screen and (max-width: $l-deck) {
        max-width: 100%;
    }
    @media only screen and (max-width: $tablet) { 
        @include font(18, 26);
        margin-bottom: 10px;
        br {
            display: none;
        }
    }
    @media only screen and (max-width: $mobile) { 
        @include font(17, 24);
    }
    .mobSmallLogo {
        float: right;
    }
}
.why-choose {
    .container {
        padding-top: 106px;
        display: grid;
        grid-template-columns: 1fr 44%;
        grid-template-rows: auto;
        overflow: hidden;
        gap: 130px 0;
        @media only screen and (max-width: $xl-deck) {
            padding-top: 50px;
            grid-template-columns: 1fr 45%;
        }
        @media only screen and (max-width: $m-deck) {
            gap: 75px 0;
        }
        @media only screen and (max-width: $land-tablet) {
            grid-template-columns: 1fr;
            gap: 20px;
        }
        @media only screen and (max-width: $tablet) {
            padding-top: 15px;
        }
        @media only screen and (max-width: $mobile) {
            //gap: 40px;
        }
        .h2 {
            @media only screen and (max-width: $mobile) {
                margin-bottom: 10px;
            }
        }
        .swiper {
            grid-row: span 2;
            @media only screen and (max-width: $land-tablet) {
                grid-row: auto;
            }
            svg {
                @media only screen and (max-width: $tablet) {
                    display: block;
                    width: 50px;
                    height: 50px;
                }
            }
        }
        .button-markHolder {
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            position: relative;
            @media only screen and (max-width: $land-tablet) {
                flex-direction: row;
                margin-bottom: 20px;
                &::after {
                    content: '';
                    display: block;
                    position: absolute;
                    width: 190px;
                    height: 266px;
                    right: 35px;
                    top: -135px;
                    background: url("./../../assets/images/loop-arrow.svg") 0 0 no-repeat ;
                    background-size: contain;
                    @media only screen and (max-width: $tablet) {
                        width: 167px;
                        height: 176px;
                        right: -28px;
                        top: -150px;
                    } 
                }
            }
            @media only screen and (max-width: $tablet) {
                justify-content: space-between;
            }      
            @media only screen and (max-width: $mobile) {
                margin: 40px 0;
            }         
        }
        .btn {
            max-width: 600px;
            height: 200px;
            margin-left: 30px;
            @media only screen and (max-width: $xl-deck) {
                max-width: 500px;
                height: 150px;
                margin-left: 0px;
            }
            @media only screen and (max-width: $s-deck) {
                max-width: 400px;
                height: 110px;
                margin-top: 35px;
            }
            @media only screen and (max-width: $tablet) {
                max-width: 220px;
                height: 70px;
                margin-top: 0;
            }
            @media only screen and (max-width: $mobile) {
                min-width: 180px;
                height: 55px;
            }
        }
    }
}

.departments .container {
    text-align: center;
    padding-top: 25px;
    @media only screen and (max-width: $xl-deck) {
        padding-top: 0;
    }
    .h2 {
        margin-bottom: 40px;
        @media only screen and (max-width: $xl-deck) {
            margin-bottom: 20px;
        }
        @media only screen and (max-width: $s-deck) {
            margin-bottom: 10px;
        }
    }
    .btn {
        max-width: 1370px;
        margin: 0 auto;
        @media only screen and (max-width: $mobile) {
            height: 60px;
        }
    }
}
.price .container  {
    @media only screen and (max-width: $xl-deck) {
        padding-top: 20px;
    }
    @media only screen and (max-width: $s-deck) {
        padding-top: 10px;
    }
    @media only screen and (max-width: $mobile) {
        padding-top: 20px;
    }
}
.priceList {
    @include font(50, 45);
    margin: 37px 60px -10px 40px;
    font-family: 'MontserratAlternates-SemiBold';
    @media only screen and (max-width: $xl-deck) {
       margin: 25px 20px 0;
       @include font(36, 38);
    }
    @media only screen and (max-width: $l-deck) {
       margin: 15px 10px 0;
       @include font(30, 36);
    }
    @media only screen and (max-width: $m-deck) {
        margin: 5px 10px 0;
    }
    @media only screen and (max-width: $tablet) {
       @include font(18, 26);
    }
    @media only screen and (max-width: $mobile) {
       @include font(16, 24);
       margin: 15px 0;
    }
    li {
        margin-bottom: 35px;
        border-bottom: 5px solid $blue-light-color;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        @media only screen and (max-width: $xl-deck) {
            margin-bottom: 25px;
        }
        @media only screen and (max-width: $m-deck) {
            margin-bottom: 15px;
        }
        @media only screen and (max-width: $tablet) {
            border-bottom-width: 1px;
            margin-bottom: 8px;
        }
    }
    .normalText {
        font-family: 'MontserratAlternates-Regular';
        @media only screen and (max-width: $land-tablet) {
            display: block;
        }
    }
}
.discountList {
    display: flex;
    flex-wrap: wrap;
    padding-top: 20px;
    @media only screen and (max-width: $xl-deck) {
        gap: 15px;
    }
    @media only screen and (max-width: $m-deck) {
        padding-top: 10px;
    }
    @media only screen and (max-width: $mobile) {
       gap: 8px;
       padding: 20px 0;
    }
    li {
        margin-left: 150px;
        width: calc(50% - 150px);
        position: relative;
        @media only screen and (max-width: $xl-deck) {
            margin-left: 130px;
            width: calc(50% - 130px);
        }
        @media only screen and (max-width: $l-deck) {
            margin-left: 100px;
            width: calc(50% - 110px);
        }
        @media only screen and (max-width: $tablet) {
            margin-left: 50px;
            width: calc(100% - 50px);
        }
        &:nth-child(2n) {
            order: 1;
        }
        &::before {
            content: counter(list-item);
            font-family: 'MontserratAlternates-SemiBold';
            @include font(70, 60);
            background-color: $yellow-light-color;
            position: absolute;
            left: -120px;
            top: 30px;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100px;
            height: 100px;
            border-radius: 20px;
            @media only screen and (max-width: $xl-deck) {
                top: 10px;
                left: -100px;
                width: 80px;
                height: 80px;
                @include font(60, 60);
            }
            @media only screen and (max-width: $l-deck) {
                left: -90px;
            }
            @media only screen and (max-width: $tablet) {
                width: 50px;
                height: 50px;
                border-radius: 15px;
                @include font(26, 26);
                left: -55px;
            }
            @media only screen and (max-width: $mobile) {
                width: 25px;
                height: 25px;
                border-radius: 5px;
                @include font(20, 20);
                left: -40px;
            }
        }
    }
}
.enterToSchool {
    .h2 {
        text-align: right;
        padding-right: 73px;
        margin-bottom: 37px;
        @media only screen and (max-width: $l-deck) {
            padding-right: 40px;
            margin-bottom: 30px;
        }
        @media only screen and (max-width: $land-tablet) {
            padding: 0;
            margin-bottom: 20px;
        }
        @media only screen and (max-width: $mobile) {
            text-align: left;
        }
    }
}
.freeDay {
    .container {
        @media only screen and (max-width: $land-tablet) {
            min-height: 100vh;
        }
        @media only screen and (max-width: $tablet) {
            min-height: auto;
        }
    }
    .rightLogo {
        gap: 20px;
        .smallLogo {
            margin: -26px 6px 0 0;
            @media only screen and (max-width: $xl-deck) {
                margin:0;
            }
        }
    }
    .rightText {
        display: flex;
        justify-content: flex-end;
        padding-top: 36px;
        @media only screen and (max-width: $xl-deck) {
            padding-top: 20px;
        }
        p {
            width: 64%;
            @include font(50, 60);
            @media only screen and (max-width: $xl-deck) {
                @include font(40, 50);
            }
            @media only screen and (max-width: $l-deck) {
                @include font(34, 46);
                width: 60%;
            }
            @media only screen and (max-width: $land-tablet) {
                width: 100%;
            }
            @media only screen and (max-width: $tablet) {
                @include font(20, 26);
                text-align: left;
            }
        }
    }
}
.colorsBox {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, auto); //250px
    gap: 32px 60px;
    padding: 66px 20px 0;
    @include font(40, 50);
    @media only screen and (max-width: $xl-deck) {
      @include font(30, 45);
      padding: 20px 0 0;
      gap: 20px 30px;
    }
    @media only screen and (max-width: $l-deck) {
      @include font(26, 36);
    }
    @media only screen and (max-width: $s-deck) {
      @include font(24, 32);
      gap: 10px;
    }
    @media only screen and (max-width: $land-tablet) {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, auto) minmax(100px, 100%);
    }
    @media only screen and (max-width: $tablet) {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, auto) minmax(100px, 100%);
        @include font(18, 26);
    }
    @media only screen and (max-width: $mobile) {
        @include font(16, 24);
        grid-template-rows: repeat(3, auto) minmax(70px, 100%);
    }
    > div {
        min-height: 250px;
        text-align: center;
        display: flex;
        align-items: center;
        border-radius: 25px;
        padding: 20px;
        @media only screen and (max-width: $xl-deck) {
            min-height: 220px;
        }
        @media only screen and (max-width: $l-deck) {
            min-height: 160px;
        }
        @media only screen and (max-width: $land-tablet) {
            min-height: auto;
        }
        @media only screen and (max-width: $mobile) {
            padding: 5px;
            border-radius: 15px;
        }
    }
    .bigBox {
        grid-column: span 3;
        @media only screen and (max-width: $land-tablet) {
            grid-column: span 2;
        }
    }
    .btn {
        height: 100%;
        max-width: 100%;
        font-family: 'MontserratAlternates-SemiBold';
        @include font(40, 50);
        @media only screen and (max-width: $xl-deck) {
            @include font(30, 40);
        }
        @media only screen and (max-width: $l-deck) {
            @include font(28, 36);
        }
        @media only screen and (max-width: $s-deck) {
            @include font(24, 32);
        }
        @media only screen and (max-width: $land-tablet) {
            grid-column: span 3;
        }
        @media only screen and (max-width: $tablet) {
            grid-column: span 2;
            padding: 0 15px;
        }
        @media only screen and (max-width: $mobile) {
            padding: 5px;
            @include font(18, 26);
            border-radius: 15px;
        }
    }
}
.review {
    .container {
        padding-top: 39px;
        @media only screen and (max-width: $xl-deck) {
            padding-top: 20px;
        }
        @media only screen and (max-width: $m-deck) {
            padding-top: 10px;
        }
    }
    .h2 {
        width: 73%;
        @media only screen and (max-width: $land-tablet) {
            width: 100%;
        }
    }
    .twoColumns {
        justify-content: space-between;
        @media only screen and (max-width: $mobile) {
            margin-bottom: 80px;
            position: relative;
        } 
        .swiper2 {
            width: max-content;
            @media only screen and (max-width: $land-tablet) {
                align-self: center;
            }
        }
    }
}
.team .container {
    padding-top: 39px;
    @media only screen and (max-width: $xl-deck) {
        padding-top: 20px;
    }
    .h2 {
        @media only screen and (max-width: $land-tablet) {
            margin-bottom: 25px;
        }
    }
}
.form .container {
    &::after {
        content: ' ';
        position: absolute;
        right: -$space-container;
        bottom: -63px;
        background: url("./../../assets/images/loop.svg") 0 0 no-repeat ;
        background-size: contain;
        width: 501px;
        height: 403px;
        z-index: 2;
        @media only screen and (max-width: $l-deck) {
            width: 351px;
            height: 303px;
        }
        @media only screen and (max-width: $s-deck) {
            right: -25px;
        }
        @media only screen and (max-width: $land-tablet) {
            bottom: 50%;
        }
        @media only screen and (max-width: $tablet) {
            width: 251px;
            height: 203px;
        }
        @media only screen and (max-width: $mobile) {
            right: 0;
        }
    }
    .h2 {
        text-align: center;
        margin-bottom: 72px;
        @media only screen and (max-width: $xl-deck) {
           margin-bottom: 35px;
        }
        @media only screen and (max-width: $m-deck) {
           margin-bottom: 20px;
        }
        @media only screen and (max-width: $mobile) {
           padding: 0 48px;
           margin-bottom: 15px;
        }
    }
    padding: 10px 56px 0 15px;
    background: linear-gradient(to right, rgba(249, 236, 136, .53), rgba(124, 200, 246, .49));
    border-radius: 25px;
    position: relative;
    margin-top: 40px;
    @media only screen and (max-width: $xl-deck) {
        margin-top: 35px;
    }
    @media only screen and (max-width: $l-deck) {
        margin-top: 20px;
    }
    @media only screen and (max-width: $s-deck) {
        padding: 10px 15px;
    }
    @media only screen and (max-width: $tablet) {
        padding: 10px 0;
    }
    @media only screen and (max-width: $mobile) {
        margin-left: 0;
        margin-right: 0;
        max-width: 100%;
    }
    .btn {
        max-width: 100%;
        margin-top: -28px;
        height: 150px;
        border-radius: 20px;
        font-family: 'MontserratAlternates-SemiBold';
        margin-bottom: 40px;
        @media only screen and (max-width: $xl-deck) {
            margin-top: 0;
            height: 120px;
        }
        @media only screen and (max-width: $l-deck) {
            height: 90px;
            margin-bottom: 20px;
        }
        @media only screen and (max-width: $tablet) {
            height: 45px;
            margin-bottom: 10px;
        }
        @media only screen and (max-width: $mobile) {
            border-radius: 8px;
        }
    }
    .error {
        display: none;
        padding-left: 14px;
        @media only screen and (max-width: $m-deck) {
            padding-left: 10px;
        }
    }
    .twoColumns {
        justify-content: space-between;
        @media only screen and (max-width: $land-tablet) {
            flex-direction: column-reverse;
            gap: 35px;
        }
        > form {
            padding-left: 42px;
            width: calc(50% - 50px);
            padding-bottom: 25px;
            @media only screen and (max-width: $xl-deck) {
                padding-left: 20px;
                width: 50%;
            }
            @media only screen and (max-width: $s-deck) {
                padding-left: 10px;
            }
            @media only screen and (max-width: $land-tablet) {
                width: 100%;
                padding: 0 20px;
            }
            @media only screen and (max-width: $mobile) {
                padding: 0 10px;
            }
            p {
                @include font(35, 40);
                font-family: 'MontserratAlternates-SemiBold';
                @media only screen and (max-width: $xl-deck) {
                    @include font(28, 36);
                }
                @media only screen and (max-width: $l-deck) {
                    @include font(26, 34);
                }
                @media only screen and (max-width: $tablet) {
                    @include font(16, 20);
                    text-align: center;
                }
            }
            .holder {
              position: relative;
            }
        }
        .imgHolder {
            width: 664px;
            height: 685px;
            max-width: 50%;
            position: relative;
            @media only screen and (max-width: $xl-deck) {
                width: 564px;
                height: 585px;
            }
            @media only screen and (max-width: $l-deck) {
                width: 514px;
                height: 535px;
            }
            @media only screen and (max-width: $s-deck) {
                width: 414px;
                height: 435px;
            }
            @media only screen and (max-width: $land-tablet) {
                align-self: center;
                width: 257px;
                height: 300px;
            }
            @media only screen and (max-width: $tablet) {
                width: 217px;
                height: 250px;
            }
            &::before {
                content: ' ';
                position: absolute;
                left: 0;
                top: 0;
                background-color: $blue-color;
                transform: rotate(5deg);
                border-radius: 25px;
                width: 100%;
                height: 100%;
            }
            picture {
                z-index: 2;
                border-radius: 25px;
                overflow: hidden;
                display: block;
                position: relative;
                width: 100%;
                height: 100%;
            }
        }
    }
    .resultMessage {
        color: $white-color;
        visibility: hidden;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        @include font(50, 55);
        > * {
            border-radius: 15px;
            padding: 25px 35px;
        }
    }
    .successMessage {
        background-color: $main-color;
        display: none;
    } 
    .errorMessage {
        background-color: red;
        display: none;
    }
    .greyBtn {
        background-color: #D9D9D9;
        color: $grey-color;
        margin: 0;
        &:hover {
            background-color: $grey-color;
            color: #D9D9D9;
        }
    }
}
// .titleSectionHolder {
//     width: 61%;
//     padding-bottom: 1px;
//     @media only screen and (max-width: 960px) {
//         width: 100%;
//     }
//     &.subSection {
//         width: 49%;
//         @media only screen and (max-width: 960px) {
//             width: 100%;
//         }
//     }
//     .stylishCornerTreeColor {
//         margin-top: 35px;
//         @media only screen and (max-width: 960px) {
//             margin-top: 0;
//         }
//     }
// }
// //slider
// .sliderItems {
//     padding-top: 80px;
//     @media only screen and (max-width: 960px) {
//         padding-top: 50px;
//     }
//     .slick-slider {
//         margin: 0 -15px;
//     }
//     .slick-slide {
//         padding: 0 16px;
//     }
//     .item {
//         padding: 48px 22px 44px 48px;
//         color: $font-color2;
//         background-color: $white-color;
//         @media only screen and (max-width: 1200px) {
//             padding-left: 22px;
//         }
//         @media only screen and (max-width: 960px) {
//             padding: 25px 22px 25px;
//         }
//         .titleItem {
//             color: $black-color;
//             font-weight: 600;
//             margin-bottom: 9px;
//             & ~ p {
//                 height: 96px;
//                 overflow: hidden;
//             }
//         }
//         .arrowLink {
//             padding-right: 35px;
//         }
//         svg {
//             width: 47px;
//             height: 47px;
//             display: block;
//             margin-bottom: 20px;
//         }
//     }
//     /* arrow slider */
//     .prev-btn, .next-btn {
//         position: absolute;
//         top: 50%;
//         left: 0;
//         display: block;
//         @include circle(30);
//         transform: translateY(-50%);
//         cursor: pointer;
//         border: 0;
//         outline: none;
//         background: $blue-lightest-color;
//         opacity: 0.6;
//         z-index: 1;
//         svg {
//             width: 30px;
//             height: 30px;
//             display: block;
//             circle {
//                 stroke: $main-color;
//             }
//             path {
//                 fill: $main-color;
//             }
//         }
//         &:hover {
//             opacity: 1;
//             transform: translateY(-50%) scale(1.1);
//             box-shadow: 0 0 10px $blue-lightest-color;
//         }
//     }
//     .next-btn {
//         left: auto;
//         right: 0;
//     }
// }
// section .slick-dots {
//     text-align: center;
//     bottom: -40px;
//     li {
//         width: 15px;
//         height: 15px;
//         margin: 0 15px;
//         button {
//             &::before {
//                 @include circle(15);
//                 position: absolute;
//                 top: 0;
//                 left: 0;
//                 width: 15px;
//                 height: 15px;
//                 content: '';
//                 background: $blue-lightest-color;
//             }
//         }
//         &.slick-active {
//             button::before {
//                 background: $blue-color;
//             }
//         }
//     }
// }
// //subscribe
// .subScribe {
//     padding-bottom: $main-space;
//     @media only screen and (max-width: 1020px) {
//         padding-bottom: $main-space-tb;
//     }
//     &.stylishCornerTreeColor::after, &.stylishCornerTreeColor::before {
//         @media only screen and (max-width: 660px) {
//             display: none;
//         }
//     }
//     .rightColorFullLine {
//         &::after {
//             width: 23px;
//             @media only screen and (max-width: 660px) {
//                 display: none;
//             }
//         }
//     }
//     &::after {
//         width: 89px;
//         height: 51px;
//         border-top-width: 30px;
//         border-image: linear-gradient(to right, #FFA155 27%, #FFD3AF 27%, #FFD3AF 64%, #a3a7ff 64%, #a3a7ff 100%) 1;
        
//     }
//     &::before {
//         width: 31px;
//         height: 30px;
//         top: 51px;
//         background-color: #a3a7ff;
//     }
//     > div {
//         background-color: $vialet-color;
//         color: $white-color;
//         height: 333px;
//         padding: 0 $main-space;
//         align-items: center;
//         @media only screen and (max-width: 1020px) {
//             padding: 0 $main-space-tb;
//         }
//         @media only screen and (max-width: 960px) {
//             height: auto;
//             padding: 40px 80px 20px;
//             align-items: flex-start;
//         }
//         @media only screen and (max-width: 660px) {
//             padding: 20px;
//         }
//     }
//     form {
//         width: 100%;
//         margin: 10px 21px 0 65px;
//         display: flex;
//         flex-direction: column;
//         position: relative;
//         .btnHolder {
//             align-self: flex-end;
//         }
//         .input-error {
//             bottom: -16px;
//             letter-spacing: 1px;
//         }
//         .fildSection label {
//             left: 30px;
//             top: 20px;
//             @media only screen and (max-width: 480px) {
//                 left: 15px;
//             }
//         }
//         .fildSection input:focus + label,
//         .fildSection input:not(:placeholder-shown) + label {
//             display: none;
//         }
//         @media only screen and (max-width: 960px) {
//             margin: 0;
//         }
//         input {
//             border: 0;
//             width: 100%;
//             padding: 20px 130px 20px 30px;
//             height: 65px;
//             font-family: $base-font;
//             font-weight: 500;
//             color: $font-color;
//             @include font(16, 24);
//             @media only screen and (max-width: 1200px) {
//                padding: 20px 85px 20px 15px;
//             }
//             @media only screen and (max-width: 960px) {
//                 padding: 20px 130px 20px 30px;
//             }
//             @media only screen and (max-width: 480px) {
//                 padding: 20px 85px 20px 15px;
//             }
//         }
//         .btnHolder {
//             position: absolute;
//             right: 0;
//             top: 0;
//             .btn {
//                 padding: 0 40px;
//                 height: 65px;
//                 @media only screen and (max-width: 1200px) {
//                     padding: 0 20px;
//                 }
//                 @media only screen and (max-width: 960px) {
//                     padding: 0 40px;
//                 }
//                 @media only screen and (max-width: 480px) {
//                     padding: 0 20px;
//                 }
//             }
//         }
//     }
// }

// //career sub page
// .positionFirstSection {
//     display: flex;
//     justify-content: space-between;
//     @media only screen and (max-width: 480px) {
//         flex-direction: column;
//     }
//     .btn {
//         display: inline-flex;
//     }
// }
// .colorTeaser {
//     background-color: #FFE0C7;
//     color: $black-color;
//     padding: 82px 110px 60px 80px;
//     @media only screen and (max-width: 960px) {
//         margin-left: 30px;
//         padding: 30px 25px 10px 30px;
//     }
//     @media only screen and (max-width: 480px) {
//         margin: 20px 0 0;
//     }
//     ul {
//         padding-top: 5px;
//         li {
//             padding-bottom: 16px;
//         }
//     }
// }
// #tabContainer {
//     margin-top: $main-space;
//     color: $black-color;
//     @media only screen and (max-width: 1020px) {
//         margin-top: $main-space-tb;
//     }
//     .tabTitle {
//         border-bottom: 4px solid #E0F1F2;
//         display: flex;
//         justify-content: center;
//         gap: 96px;
//         @media only screen and (max-width: 960px) {
//             gap: 25px;
//         }
//         @media only screen and (max-width: 480px) {
//             gap: 5px;
//         }
//         @media only screen and (max-width: 400px) {
//             flex-direction: column;
//             padding: 0 20px;
//         }
//         li {
//             padding: 44px 0 29px;
//             cursor: pointer;
//             font-weight: 600;
//             @include font(24, 36);
//             @media only screen and (max-width: 960px) {
//                 padding: 25px 0;
//                 @include font(18, 24);
//             }
//             &.active, &:hover {
//                 color: $blue-color-font;
//                 border-bottom: 4px solid $blue-color-font;
//                 margin-bottom: -4px;
//             }

//         }
//     }
//     .tabContent {
//         padding: 97px 0 70px;
//         margin: 0 auto;
//         width: 66%;
//         @media only screen and (max-width: 960px) {
//             padding: 40px 0 20px;
//             width: 75%;
//         }
//         > div {
//             display: none;
//             &.active {
//                 display: block;
//             }
//         }
//         ul li {
//             list-style-type: disc;
//             margin-bottom: 24px;
//         }
//     }
// }
// .applyNow {
//     padding: $main-space 0 0;
//     @media only screen and (max-width: 1020px) {
//         padding: $main-space-tb 0 0;
//     }
//     h3 {
//         margin-bottom: 30px;
//     }
//     form {
//         display: flex;
//         justify-content: space-between;
//         flex-wrap: wrap;
//         gap: 32px;
//         .imputHolder {
//             width: calc(50% - 16px);
//             position: relative;
//             @media only screen and (max-width: 768px) {
//                 width: 100%;
//             }
//         }
//         .textareaHolder, .checkboxHolder {
//             width: 100%;
//             position: relative;
//         }
//         input, textarea {
//             border: 0;
//             background: $vialet-lightest-color;
//             color: #4e4f5d;
//             padding: 42px 40px 30px;
//             margin-bottom: 0;
//         }
//         textarea {
//             height: 100px;
//             height: 225px;
//             + label {
//                 @include font(18, 28);
//                 font-weight: 500;
//                 position: absolute;
//                 left: 40px;
//                 top: 36px;
//             }
//         }
//         label  {
//             @include font(18, 28);
//             font-weight: 500;
//             position: absolute;
//             left: 40px;
//             top: 50%;
//             transform: translateY(-50%);

//         }
//         input:focus + label, textarea:focus + label, input:not(:placeholder-shown) + label,
//         textarea:not(:placeholder-shown) + label {
//             top: 22px;
//             @include font(16, 26);
//         }
//         .input-error {
//             @include font(16, 26);
//             letter-spacing: 0.6px;
//             left: 40px;
//             bottom: -50px;
//             @media only screen and (max-width: 768px) {
//                 bottom: -36px;
//             }
//         }
//         .stylishCornerTreeColor {
//             margin-top: 13px;
//         }
//     }
// }


// // people
// .personeInfo {
//     max-width: 500px;
//     margin: 0 auto;
//     text-align: center;
//     .imgHolder {
//         aspect-ratio: 320/320;
//         @include circle(320);
//         overflow: hidden;
//         margin: 0 auto 50px;
//         @media only screen and (max-width: 480px) {
//             @include circle(280);
//             margin-bottom: 20px;
//         }
//     }
//     .h3 {
//         margin-bottom: 6px;
//     }
//     .sectionTitle {
//         letter-spacing: 1px;
//         margin-bottom: 25px;
//     }
//     .sotial-links {
//         padding-top: 5px;
//         justify-content: center;
//     }
// }
// .peoplePage {
//     margin-bottom: $main-space;
//     @media only screen and (max-width: 1020px) {
//         margin-bottom: $main-space-tb;
//     }
// }
// //private polici
// .textPageWithLeftLine {
//     position: relative;
//     padding: 96px 0 71px;
//     @media only screen and (max-width: 1020px) {
//         padding: 50px 0;
//     }
//     &:after {
//         content: ' ';
//         position: absolute;
//         left: 0;
//         bottom: -24px;
//         width: 296px;
//         height: 24px;
//         @include colorlineVar2(left)
//     }
// }
// #privatPolicy {
//     margin-bottom: 24px;
//     .pixelOrange::before {
//         width: 24px;
//         height: 24px;
//     }
//     .titleSectionHolder.pixelOrange {
//         padding-top: 50px;
//         margin-bottom: 46px;
//         &::before {
//             width: 24px;
//             height: 24px;
//         }
//     }
//     .h2 {
//         margin-bottom: 7px;
//     }
//     .contentHolder {
//         margin: 0 auto;
//         width: 66%;
//         @media only screen and (max-width: 1020px) {
//             width: 85%;
//         }
//     }
// }