/* Variables */

$base-width: 1780px;

$base-font: 'MontserratAlternates-Regular', sans-serif;


$main-space: 96px;
$main-space-tb: 50px;
    
$white-color: #ffffff;
$main-color: #18A10A;
$green-lightest-color: #9DCE3F;
$yellow-color: #FFD40E;
$yellow-light-color: #F9EC88;
$blue-color: #0E8AD6;
$blue-light-color: #7CC8F6;
$navy-color: #001C2A;
$grey-color: #6d7b82;

$bg-color: rgba(255, 255, 247, 1);

$space-container: 50px;


