/* Variables */

$base-width: 1780px;

$base-font: 'MontserratAlternates-Regular', sans-serif;


$main-space: 96px;
$main-space-tb: 50px;
    
$white-color: #ffffff;
$main-color: #18A10A;
$green-lightest-color: #9DCE3F;
$yellow-color: #FFD40E;
$yellow-light-color: #F9EC88;
$blue-color: #0E8AD6;
$blue-light-color: #7CC8F6;
$navy-color: #001C2A;
$grey-color: #6d7b82;

$bg-color: rgba(255, 255, 247, 1);

$space-container: 50px;

/*size points*/
/*from w1920 to 1536 (1920x1080)*/
$xl-deck: 1919px;/*from1919 to 1536(1536x864)*/
$l-deck: 1535px;/*from 1535 to 1365 (1366x768)*/
$m-deck: 1365px;/*from 1365 to 1280 (1280x720)*/
$s-deck: 1279px; /*from 1279 to 1024 (1024x768)*/
$land-tablet: 1023px; /*from w1023 to 768 (768x1024)*/
$port-tablet: 767px; /*from w767 to 480 ()???!!*/
$mobile: 479px; /*from w479 to 360 (360x640) */





